* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
  min-height: 100vh;
}

/* Grid Layout for Desktop */

.tracker-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem;
}

/* Profiles Panels */

.profile-panel {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 775px;
  margin-top: 45px;
}

.profile-bg {

  background-color: hsl(246, 80%, 60%);
  padding: 1.5rem;
  height: 750px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1;
  position: relative;
}

.profile-info {
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 60px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-lower {
  margin-top: 150px;
  font-family: 'Rubik';
  font-size: 30px;
  font-weight: lighter;

}

.timeframe-selector {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeframe-selector button {
  background: none;
  border: none;
  color: hsl(236, 100%, 87%);
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
}

.timeframe-selector button.active {
  color: white;
}

.timeframe-selector button.active {
  color: white;
}

/* Activity Cards */

.activity-grid {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.activity-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card-bg {
  height: 85px;
  background-color: var(--card-color);
  position: relative;
  margin-top: 30px;
  border-radius: 20px;

}

.card-icon {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 80px;
  margin-top: 10px;
}

.card-content {
  background-color: hsl(235, 46%, 20%);
  padding: 1.5rem;
  margin-top: -40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body h2 {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem;
}

.card-body p {
  color: hsl(236, 100%, 87%);
  font-size: 0.9rem;
}

.mainMargin {
  margin-top: 150px;
}

/* Mobile */

@media (max-width: 768px) {
  .tracker-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .activity-grid {
    grid-template-columns: 1fr;
  }
}